<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!----======== CSS ======== -->
  <link rel="stylesheet" href="sideBar.css">
  <link rel="stylesheet" href="styleAdd.css">

  <!----===== Boxicons CSS ===== -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

  <!--<title>Dashboard Sidebar Menu</title>-->
</head>


<div id="menu-btn-container">
  <img id='icon-menu'class="icon menu-btn" src="assets/menu-regular-24.png"alt='no se encuentra'>
</div>
  <div class="container-close" id='menu-container'>
    <nav class="sidebar close">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="logo.png" alt="">
          </span>
    
          <div class="text logo-text">
            <span class="name">tyBots</span>
            <span class="profession">Professional bots</span>
          </div>
        </div>
    
        <i class='bx bx-chevron-right toggle'></i>
      </header>
    
      <div class="menu-bar">
        <div class="menu">
    
          <ul class="menu-links">
            <li class="nav-link">
              <a href="../index.html">
                <i class='bx bx-home-alt icon'></i>
                <span class="text nav-text">Dashboard</span>
              </a>
            </li>
    
            <li class="nav-link">
              <a href="../topBots.html">
                <i class='bx bx-bar-chart-alt-2 icon'></i>
                <span class="text nav-text">Top-bots</span>
              </a>
            </li>
    
            <li class="nav-link">
              <a href="#">
                <i class='bx bx-bell icon'></i>
                <span class="text nav-text">Notifications</span>
              </a>
            </li>
    
    
            <li class="nav-link">
              <a href="#">
                <i class='bx bx-heart icon'></i>
                <span class="text nav-text">Likes</span>
              </a>
            </li>
    
            <li class="nav-link">
              <a href="#">
                <i class='bx bxs-add-to-queue icon'></i>
                <span class="text nav-text">Add-Bot</span>
              </a>
            </li>
            <li class="nav-link" >
              <a href="#">
                <i class='bx bx-cog icon' id="config-btn"></i>
                <span class="text nav-text">Configuration</span>
              </a>
            </li>
          </ul>
        </div>
    
        <div class="bottom-content">
          <li class="">
            <a href="../../index.php">
              <i class='bx bx-log-out icon'></i>
              <span class="text nav-text">Logout</span>
            </a>
          </li>
    
          <li class="mode">
            <div class="sun-moon">
              <i class='bx bx-moon icon moon'></i>
              <i class='bx bx-sun icon sun'></i>
            </div>
            <span class="mode-text text">Dark mode</span>
    
            <div class="toggle-switch">
              <span class="switch"></span>
            </div>
          </li>
    
        </div>
      </div>
    
    </nav>
  </div>

  <section class="home">
    <div class="title "><p>Add a bot</p></div>

<div class="div-div-texts">
      <div class="div-texts">
        <div class="input-div">
            <input type="text" id="input-addBot" placeholder="Write the title of your bot">
      </div>
  <div class="textarea-div">
            <textarea rows="15" name="message" placeholder='Write the description of your bot.'
              id="input-descBot"></textarea>
  </div>
  <div class="input-div">
    <input type="text" id="input-addBot1" placeholder="Write the link of your bot">
</div>
<div class="input-div">
  <input type="text" id="input-addBot2" placeholder="Write the link of image of your bot">
</div>
          <div>
            <button class="addBot-btn">Add</button>
          </div>
        </div>
</div>


        <!--Config-menu-->
        <div class="menu-config" id="conifg-id">
          <div class="container">
    
          </div>
          <div class="container">
    
          </div>
          <div class="container">
    
          </div>
          <div class="container">
    
          </div>
        </div>
  </section>


  <script src="app.js"></script>
</body>

</html>